@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-body: var(--font-inter);
  --font-special: var(--font-roboto);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* MY COLOR DEFAULT */
  --color-my-primary: var(--my-primary);
  --color-my-info: var(--my-info);
  --color-my-secondary: var(--my-secondary);
  --color-my-success: var(--my-success);
  --color-my-warning: var(--my-warning);
  --color-my-danger: var(--my-danger);
  --color-my-blue: var(--my-blue);
  --color-my-light-blue: var(--my-light-blue);
  --color-my-cyan: var(--my-cyan);
  --color-my-purple: var(--my-purple);
  --color-my-light-green: var(--my-light-green);
  --color-my-yellow: var(--my-yellow);
  --color-my-orange: var(--my-orange);
  --color-my-pink: var(--my-pink);
  --color-my-bg-dark: var(--my-bg-dark);
  --color-my-dark: var(--my-dark);
  --color-my-gray: var(--my-gray);
  --color-default-bg: var(--my-default-bg);
  --color-default-text: var(--my-default-text);
  --shadow-cyanShadow: 0px 0px 20px 0px rgba(94, 206, 220, 0.5);
  --shadow-cyanMediumShadow: 10px 10px 200px 150px rgba(94, 206, 220, 0.5);
  --shadow-orangeMediumShadow: 10px 10px 200px 150px rgba(248, 109, 79, 0.5);
  --shadow-navbarPrimaryShadow: 10px 10px 60px 10px
    color-mix(in oklch, oklch(0.564 0.233 259.6) 20%, transparent);

  --color-default-nav-bg: var(--my-default-nav-bg);
  --shadow-heroShadow: 10px 10px 80px 150px rgba(0, 105, 250, 0.2);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);

  /* MY DEFAULT COLOR */
  --my-primary: oklch(56.491% 0.23136 260.085); /* #106ae1 */
  --my-info: oklch(0.619 0.135 237.6); /* #0391b3 */
  --my-secondary: oklch(0.945 0.004 306.5); /* #e6e4e5 */
  --my-success: oklch(0.586 0.111 157.2); /* #3f9f68 */
  --my-warning: oklch(0.799 0.2 83.4); /* #f7b41d */
  --my-danger: oklch(0.599 0.261 19.1); /* #ee002d */
  --my-blue: oklch(0.517 0.185 276.9); /* #3e59db */
  --my-light-blue: oklch(0.877 0.078 258.8); /* #bccefb */
  --my-cyan: rgb(0, 209, 242); /* #5bd1d7 */
  /* --my-purple: oklch(0.754 0.129 307.4);  */
  --my-purple: rgba(124, 58, 237);
  --my-light-green: oklch(73.706% 0.13199 159.528); /* #52c88b */
  --my-yellow: oklch(0.824 0.148 86.2); /* #f0bf4c */
  --my-orange: oklch(0.618 0.206 42.5); /* #e2552d */
  --my-pink: oklch(0.785 0.165 340.3); /* #f281cf */
  --my-bg-dark: oklch(0.202 0.012 275.8); /* #09090b */
  --my-dark: oklch(0.304 0.032 278.3); /* #262932 */
  --my-gray: oklch(0.958 0.004 10.1); /* #f4f2f3 */
  --my-default-bg: var(--my-gray);
  --my-default-nav-bg: var(--my-light-blue);
  --my-default-text: var(--my-dark);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);

  /* MY COLOR */
  --my-primary: oklch(56.491% 0.23136 260.085); /* #106ae1 */
  --my-info: oklch(0.619 0.135 237.6); /* #0391b3 */
  --my-secondary: oklch(0.945 0.004 306.5); /* #e6e4e5 */
  --my-success: oklch(0.586 0.111 157.2); /* #3f9f68 */
  --my-warning: oklch(0.799 0.2 83.4); /* #f7b41d */
  --my-danger: oklch(0.599 0.261 19.1); /* #ee002d */
  --my-blue: oklch(0.517 0.185 276.9); /* #3e59db */
  --my-light-blue: oklch(0.877 0.078 258.8); /* #bccefb */
  --my-cyan: oklch(0.779 0.165 210.7); /* #5bd1d7 */
  --my-purple: oklch(0.754 0.129 307.4); /* #d09ae4 */
  --my-light-green: oklch(0.737 0.132 159.7); /* #52c88b */
  --my-yellow: oklch(0.824 0.148 86.2); /* #f0bf4c */
  --my-orange: oklch(0.618 0.206 42.5); /* #e2552d */
  --my-pink: oklch(0.785 0.165 340.3); /* #f281cf */
  --my-bg-dark: oklch(0.202 0.012 275.8); /* #09090b */
  --my-dark: oklch(0.304 0.032 278.3); /* #262932 */
  --my-gray: oklch(0.958 0.004 10.1); /* #f4f2f3 */
  --my-default-bg: var(--my-bg-dark);
  --my-default-nav-bg: var(--my-bg-dark);
  --my-default-text: var(--my-secondary);
}

@layer base {
  html {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .container-content {
    @apply max-w-screen-xl mx-auto px-5 xl:px-0;
  }
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

.animate-meteor {
  animation: meteor linear infinite;
}

.heading-gradient {
  @apply bg-clip-text text-transparent;
}

.gradient-white-fade {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    179.1deg,
    #ffffff 0.77%,
    rgba(255, 255, 255, 0) 182.09%
  );
}
